aside{
    display:flex;
    flex-wrap: wrap;
}

aside > ul{
    list-style-type: none;
    display:inline-flex;
    padding-left: 25%;
}

aside > ul > li{
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 5%;
    flex-wrap: wrap;
}

aside > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    flex-wrap: wrap;
}

aside > ul > li  :hover{
    text-decoration: underline;
    color: #0F7173 !important; 
}

aside > ul > li :visited{
    text-decoration: none;
    color:black;
}

h1{
    font-size: 30px;
}