nav > ul{
    list-style-type: none;
    display: flex;
    align-self: flex-end;
    padding-left: 25%;
}

nav > ul > li{
    padding: 0.5rem;
    
}

nav > ul > li > a{
    text-decoration: none;
    font-weight: bold;
}

nav > ul > li :hover{
    text-decoration: underline;
    color: #0F7173;
}

nav > ul > li > a :visited{
    text-decoration: none;
    color:black;
}

h1{
    font-size: 30px;
}

.heading{
    display: flex;
}

.navigation{
    display: flex;
    padding-left: 10%;
}
