nav > ul{
    list-style-type: none;
    display: flex;
    align-self: flex-end;
    padding-left: 15%;
}

nav > ul > li{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 0.45rem;
}

nav > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

nav > ul > li  :hover{
    text-decoration: underline;
    color: #0F7173 !important; 
}

nav > ul > li :visited{
    text-decoration: none;
    color:black;
}

h1{
    font-size: 30px;
}

.heading{
    display: flex;
}

.navigation{
    display: flex;
    padding-left: 6%;
}
