section > ul{
    list-style-type: none;
    display: flex;
    position: fixed;
    left: 41%;
    bottom: 0px;
}

li{
    padding-left: 20px;
}

section{
    width: 50%;
}

section > ul > li > a{
    text-decoration: none;
    color: black;
}

section > ul > li :hover{
    color: #0F7173;
}

section > ul > li > a:visited{
    text-decoration: none;
    color: black;
}